@model List<SOItem>
@{
    ViewData["Title"] = "SALES ORDER";
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Orders Table</title>
        <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
        <link href="./wwwroot/css/output.css" rel="stylesheet">
    </head>

    <body class="">

        <div class="justify-center flex flex-row p-10 m-2 rounded-lg shadow-md border-3 border-black">
            <!-- Search Input -->
            <div class="flex-grow-1 m-5">
                <label class="text-black font-semibold me-10">Keywords</label>
                <input id="keywordSearch" type="text" placeholder="Search keywords..."
                        class="px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-white-300">
            </div>

            <!-- Date Picker -->
            <div class="flex-grow-1 m-5">
                <div class="flex flex-row justify-center">
                    <label class="flex-grow-1 text-black font-semibold me-10">Order Date</label>
                    <input id="orderDate" type="date" placeholder="Pick Date"
                           class="flex-grow-1 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-white-300">
                </div>
                <div class="flex justify-end mt-4">
                    <button id="searchBtn" class="bg-[#041434] text-white px-3 py-2 rounded-md hover:bg-[#082764]">Search</button>
                </div>
            </div>
        </div>

        <div class="m-2">
            <!-- Action Buttons -->
            <div class="mt-4 flex gap-4">
                <a asp-controller="SalesOrder" asp-action="AddNewData" asp-route-soOrderId=""
                   class="bg-[#900444] text-white px-4 py-2 rounded-md hover:bg-[#640330]">
                    Add New Data
                </a>
                <button class="bg-[#084464] text-white px-4 py-2 rounded-md hover:bg-[#063148]">
                    Export to Excel
                </button>
            </div>

            <div class="mt-4">
                <table id="salesTable" class="display w-full font-semibold border-collapse border-2 border-white bg-white rounded-lg text-center">
                    <thead class="text-white">
                        <tr class="bg-[#082c5c] border-2 border-white">
                            <th class="text-center">No</th>
                            <th class="text-center">Action</th>
                            <th class="text-center">Sales Order</th>
                            <th class="text-center">Order Date</th>
                            <th class="text-center">Customer</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="~/js/SalesOrder.js"></script>
    </body>
</html>

