@model SalesOrder.Models.SOOrder

@{
    ViewData["Title"] = Model != null ? "EDIT SALES ORDER" : "ADD NEW - SALES ORDER";
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Items Table</title>
        <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
        <link href="./wwwroot/css/output.css" rel="stylesheet">
    </head>

    <body class="items-center w-full">

        <h1 class="text-center mt-4 font-semibold justify-between bg-[#082c5c] p-4 text-white">Sales Order Information </h1>

        <input type="hidden" id="orderData" value='@(Model != null ? Html.Raw(Json.Serialize(Model)) : "")' />

        <div class="align-middle grid grid-cols-2 gap-4 p-10 m-2 rounded-lg shadow-md">
            <div class="m-5 w-full">
                <label class="text-black font-semibold me-10">Sales Order Number</label>
                <input id="salesOrderNumber" type="text" placeholder="Input Here"
                        class="px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-white-300"
                        value="@Model?.OrderNo">
            </div>

            <div class="m-5 w-full">
                <label class="text-black font-semibold me-10">Customer</label>
                <select id="customerDropdown" placeholder="Select One"
                        class="px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-white-300"
                        value="@Model?.COMCustomerId">
                </select>
            </div>

             <div class="m-5 w-full">
                <label class="text-black font-semibold me-10">Order Date</label>
                <input id="orderDate" type="date" placeholder="Pick Date"
                        class="px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-white-300"
                        value="@Model?.OrderDate">
            </div>


            <div class="m-5 w-full">
                <label class="text-black font-semibold me-10">Address</label>
                <textarea id="address" placeholder="Input Here"
                        class="px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-white-300">@Model?.Address</textarea>
            </div>
        </div>

        <h1 class="text-center font-semibold justify-between bg-[#082c5c] p-4 text-white">Item Detail Information </h1>
        
        <div class="m-2">
            <!-- Action Buttons -->
            <div class="mt-4 flex gap-4">
                <button id="addNewData" class="bg-[#900444] text-white px-4 py-2 rounded-md hover:bg-[#640330]">
                    Add Item
                </button>
            </div>

            <div class="mt-4">
                <table id="itemsTable" class="display w-full font-semibold border-collapse border-2 border-white bg-white rounded-lg text-center">
                    <thead class="text-white">
                        <tr class="bg-[#082c5c] border-2 border-white">
                            <th>No</th>
                            <th>Action</th>
                            <th>Item Name</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Total</th>  
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-4 flex gap-4">
            <button id="save" class="bg-[#900444] text-white px-4 py-2 rounded-md hover:bg-[#640330]">
                Save
            </button>
            <button id="close" class="bg-[#084464] text-white px-4 py-2 rounded-md hover:bg-[#063148]">
                Close
            </button>
        </div>

        <script src="~/js/SalesOrderItem.js"></script>
    </body>
</html>
